@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media screen and (min-width: 768px) {
    :root {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 1024px) {
    :root {
      font-size: 20px;
    }
  }

  div[role="region"][aria-label="Notifications (F8)"] {
    position: fixed;
  }
}
