---
import Experience from "#components/Section/Experience.astro";
import Header from "#components/Section/Header.tsx";
import Education from "#components/Section/Education.astro";
import Miscellaneous from "#components/Section/Miscellaneous.astro";
import Project from "#components/Section/Project.astro";
import Aside from "#components/Section/Aside.astro";
import "@fontsource-variable/montserrat";
import Name from "#components/Information/Name.tsx";
import Occupation from "#components/Information/Occupation.tsx";
import { name, occupation } from "#src/information.json";
import "#src/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="bg-neutral-200 leading-6 text-neutral-950 bg-noise lg:grid lg:grid-cols-[2fr_1fr]"
  >
    <Header client:load />
    <Aside />
    <main class="lg:order-1">
      <Name className="hidden lg:block mt-6 ms-6">
        {name}
      </Name>
      <Occupation className="hidden lg:block ms-6">
        {occupation}
      </Occupation>
      <Experience />
      <Project />
      <Education />
      <Miscellaneous />
    </main>
  </body>
</html>

<script>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
