---
import Experience from "#components/Experience.section.astro";
import Header from "#components/Header.section.tsx";
import Education from "#src/components/Education.section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="space-y-4">
    <Header client:load />
    <main class="space-y-4">
      <Experience />
      <section>projects</section>
      <Education />
      <section>education</section>
      <section>technical</section>
      <section>library/framework</section>
      <section>tool</section>
      <section>language</section>
      <section>interest</section>
    </main>
    <footer>footer</footer>
  </body>
</html>
