---
import {
  address,
  phone,
} from "@content/information/index.json";
import { getEntry } from "astro:content";

const about = await getEntry('about', 'index')
---

<aside class="hidden lg:block order-1 border-l border-neutral-300 bg-neutral-100 px-6 pt-8 dark:border-neutral-600 dark:bg-neutral-900">
    <div class="fixed mr-6 flex flex-col gap-y-4 [&>*]:flex [&>*]:flex-col [&>*]:gap-y-2 [&_address]:not-italic [&_address]:text-sm [&_p]:text-sm [&_h3]:mb-1 [&_h3]:font-bold">
        <section>
            <h3>Contact</h3>
          <address>{address.physical}</address>
          <address>{address.email}</address>
          <address>{phone}</address>
        </section>
        <section>
          <h3>About</h3>
          {about.data.list.map((item) => (<p>{item}</p>))}
        </section>
    </div>
</aside>