---
import { getCollection } from "astro:content";
import Organization from "./Organization.astro";
import Section from "./Section.astro";

const experiences = await getCollection("experience");
---

<Section heading="Experience">
  {
    experiences.map((e) => (
      <article>
        <Organization organization={e.id} />
        <ul>
          {e.data.responsibilities.map((r) => (
            <li>{r}</li>
          ))}
        </ul>
      </article>
    ))
  }
</Section>
