---
import type { DataEntryMap } from "astro:content";
import { getEntry } from "astro:content";
import formatOrganizationDuration from "#utils/formatOrganizationDuration.ts";

type Props = { organization: keyof DataEntryMap["organization"] };
const { organization } = Astro.props;

const {
  data: {
    position,
    name,
    location,
    duration: { from, to },
  },
} = await getEntry("organization", organization);
---

<div class="flex flex-wrap gap-x-2 whitespace-nowrap font-bold">
  {position && <strong class="font-black">{position},</strong>}
  <h4>{name}</h4>
  <span class="text-neutral-950/50 dark:text-neutral-50/50">{location}</span>
  <span class="basis-full text-neutral-950/50 dark:text-neutral-50/50">
    {formatOrganizationDuration(from, to)}
  </span>
</div>
