---
import { getCollection } from "astro:content";
import Section from "./Section.astro";

const projects = await getCollection("project");
---

<Section heading="Project">
  {
    projects.map((p) => (
      <article>
        <>
          <h4>{p.data.name}</h4>
          <p>{p.data.description}</p>
        </>
      </article>
    ))
  }
</Section>
