---
import Section from "#components/Information/Section.tsx";
import Address from "#components/Information/Address.tsx";
import Paragraph from "#components/Information/Paragraph.tsx";
import { address, phoneNumber, about } from "#src/information.json";
import CommandGroup from "../CommandGroup";
---

<aside
  class="hidden lg:block order-2 bg-neutral-50 border-s border-neutral-300 dark:bg-neutral-950 dark:border-neutral-600"
>
  <div class="fixed p-4 lg:p-6">
    <Section heading="Contact" className="mt-0">
      <Address>{address.physical}</Address>
      <Address>{address.email}</Address>
      <Address>{phoneNumber}</Address>
    </Section>
    <Section heading="About">
      {about.map((a) => <Paragraph>{a}</Paragraph>)}
    </Section>
  </div>
  <CommandGroup client:media="(min-width: 1024px)" />
</aside>
