---
import { getCollection } from "astro:content";
import Organization from "#components/Organization.astro";
import Section from "#components/Section/index.astro";
import Article from "#components/Article.astro";
import DataTerm from "#components/Education/DataTerm.astro";
import DataDescription from "#components/Education/DataDescription.astro";

const educations = await getCollection("education");
---

<Section heading="Education">
  {
    educations.map((e) => (
      <Article>
        <Organization organization={e.id} />
        <dl class="mt-2">
          {e.data.degree ? (
            <>
              <DataTerm>Degree</DataTerm>
              <DataDescription>{e.data.degree}</DataDescription>
            </>
          ) : null}
          {e.data.thesis ? (
            <>
              <DataTerm>Thesis</DataTerm>
              <DataDescription>{e.data.thesis}</DataDescription>
            </>
          ) : null}
          {e.data.awards ? (
            <>
              <DataTerm>Awards</DataTerm>
              <DataDescription>{e.data.awards}</DataDescription>
            </>
          ) : null}
        </dl>
      </Article>
    ))
  }
</Section>
