---
import { getCollection } from "astro:content";
import Organization from "#components/Organization.astro";
import Section from "#components/Section/index.astro";
import Article from "#components/Article.astro";

const educations = await getCollection("education");
---

<Section heading="Education">
  {
    educations.map((e) => (
      <Article>
        <Organization organization={e.id} />
        <dl>
          {e.data.degree ? (
            <>
              <dd>Degree</dd>
              <dt>{e.data.degree}</dt>
            </>
          ) : null}
          {e.data.thesis ? (
            <>
              <dd>Thesis</dd>
              <dt>{e.data.thesis}</dt>
            </>
          ) : null}
          {e.data.awards ? (
            <>
              <dd>Awards</dd>
              <dt>{e.data.awards}</dt>
            </>
          ) : null}
        </dl>
      </Article>
    ))
  }
</Section>
