---
import { getCollection } from "astro:content";
import Organization from "#components/Organization.astro";
import Section from "#components/Section/index.astro";
import Article from "#components/Article.astro";

const experiences = await getCollection("experience");
---

<Section heading="Experience">
  {
    experiences.map((e) => (
      <Article>
        <Organization organization={e.id} />
        <ul>
          {e.data.responsibilities.map((r) => (
            <li>{r}</li>
          ))}
        </ul>
      </Article>
    ))
  }
</Section>
