---
type Props = { heading?: string };
const { heading } = Astro.props;
---

<section class="p-4 lg:p-6">
  {heading && <h3 class="text-base uppercase font-bold">{heading}</h3>}
  <slot />
</section>
