---
import { getCollection } from "astro:content";
import Section from "#components/Section/index.astro";
import Article from "#components/Article.astro";

const projects = await getCollection("project");
---

<Section heading="Project">
  {
    projects.map((p) => (
      <Article>
        <>
          <h4>{p.data.name}</h4>
          <p>{p.data.description}</p>
        </>
      </Article>
    ))
  }
</Section>
